<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Tienda{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'static/styles.css' %}">
</head>
<body>
    <header>
        <h1>Bienvenido a Mi Tienda</h1>
        <nav>
            <ul>
                <li><a href="{% url 'lista_productos' %}">Productos</a></li>
                <li><a href="{% url 'carrito' %}">Carrito</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <p>&copy; 2024 Mi Tienda. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
